:root {
  --bg-color-dark: #121212ec;
  --btn-bg: #03dac6;
  --main-color: #7b113a;
  --secondary-color: #726d9f;
  --card-color: #13101070;
  --radius: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

.section_container {
  min-width: 100%;
  min-height: 100vh;
  background: var(--bg-color-dark) !important;
  position: relative;
  padding: 1rem;
}

.section_container:nth-child(even) {
  background: var(--bg-color-dark) !important;
}

.hero-content {
  display: flex;
  position: absolute;
  text-align: left;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  padding: 0 5rem;
}

.hero-content .headline h1 {
  font-weight: 600;
  font-size: 7rem;
  color: rgb(230, 230, 230);
}

.hero-content .headline span {
  font-weight: 300;
  font-size: 5rem;
  display: block;
}

.hero-content .headline span:first-of-type {
  color: rgb(230, 230, 230);
}

.hero-content .headline span:last-of-type {
  font-size: 1.5rem;
  color: rgba(230, 230, 230, 0.541);
}

.hero-content .contact-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 2rem 0;
  margin-top: 1rem;
}

.hero-content .resume-cta {
  text-decoration: none;
  width: 200px;
  height: 50px;
  color: var(--btn-bg);
  border: 2px solid var(--btn-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
}

.hero-content .contact-me-cta {
  text-decoration: none;
  width: 200px;
  height: 50px;
  color: var(--btn-bg);
  border: 2px solid var(--btn-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
}

.hero-content .contact-me-cta:hover,
.hero-content .resume-cta:hover {
  background-color: var(--btn-bg);
  transition: 0.1s ease-in-out;
  color: var(--bg-color-dark);
}

.projects {
  max-width: 75vw;
  min-height: 100vh; /* Allow the container to expand with more and more projects*/
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem;
}

.section__heading {
  display: flex;
  color: rgba(230, 230, 230, 0.781);
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem 0 3rem 0;
  font-size: 4rem;
}

.project-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  width: 100%;
  min-height: 400px;
  margin: 2rem 0;
  border-radius: var(--radius);
  background-color: var(--card-color);
  padding: 2rem;
}

.project-item:nth-child(even) {
  flex-direction: row-reverse;
}

.project-item .explanation-container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--radius);
}

.project-item .explanation-container h3 {
  color: rgba(230, 230, 230, 0.87);
  font-size: 2rem;
  padding: 2rem 0 0 1rem;
}

.project-item .btn_ {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  text-decoration: none;
  width: 140px;
  border: none;
  background-color: var(--btn-bg);
  color: var(--bg-color-dark);
  margin: 1rem 1rem 4rem;
  border-radius: 5px;
}

.project-item .btn_:hover {
  opacity: 0.9;
}

.btn-container {
  width: 100%;
  display: flex;
}

.project-item img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
  width: 700px;
  height: 400px;
  margin: 1rem;
  border-radius: 10px;
}

.project-item .project-description {
  width: 100%;
  display: block;
  color: rgba(230, 230, 230, 0.671);
  padding-left: 1rem;
  padding-top: 3rem;
  font-size: 1rem;
}

.explanation-container .technologies-used {
  width: 100%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 3rem;
  border-radius: 10px;
}

.explanation-container .technologies-used .tech-span {
  background-color: #03dac518;
  border-radius: 8px;
  min-width: 4rem;
  font-size: 12px;
  padding: 7px;
  color: var(--btn-bg);
  margin: 5px 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  max-width: 80vw;
  min-height: 100vh; /* Allow the container to expand with more and more projects*/
  margin: 0 auto;
}

.section__content {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.section__content img {
  width: 350px;
  height: 350px;
  margin: 2rem 0 1rem 0;
}

.section__content p {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  max-width: 60%;
  text-align: center;
  line-height: 2rem;
  color: rgba(230, 230, 230, 0.671);
}

.section__content .technologies_container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.btn {
  background-color: var(--btn-bg) !important;
  border: none !important;
  border-radius: 3px !important;
  width: 200px;
  border-radius: 10px;
}

.recommendation_container {
  display: flex;
  margin-top: 2rem;
  width: 90%;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.recommendation_container .rec-card {
  width: 450px;
  min-height: 450px;
  overflow: auto;
  line-height: 1.5rem;
  padding: 1rem;
  position: relative;
  border: none;
  background-color: var(--card-color);
  color: rgba(230, 230, 230, 0.952);
  margin-bottom: 1rem;
  border-radius: 5px;
}

.recommendation_container .rec-card #text_of {
  padding: 0.8rem 0.8rem 0.8rem 0;
  color: rgba(230, 230, 230, 0.671);
  line-height: 2rem;
}

.recommendation_container .linkedin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-top: 1rem;
  top: 1rem;
  right: 2rem;
  font-size: 1.5rem;
  width: 40px;
  color: rgba(186, 223, 238, 0.671);
}

#me {
  object-fit: cover;
  overflow: hidden;
}

@media screen and (max-width: 950px) {
  .section_container {
    position: relative;
  }
  .hero-content {
    width: 100vw;
    text-align: center;
  }

  .hero-content .contact-container {
    display: flex;
    flex-direction: column;
  }

  .hero-content .headline h1 {
    font-size: 4rem;
    font-weight: normal;
  }

  .project-item .project-description {
    font-size: 0.8rem;
    text-align: center;
    padding: 0;
  }

  .hero-content .headline span:first-of-type {
    font-size: 3rem;
  }

  .hero-content .headline span:last-of-type {
    font-size: 1rem;
    padding: 1rem;
  }

  .hero-content .contact-me-cta,
  .hero-content .resume-cta {
    width: 90%;
    border-radius: 10px;
  }

  .section__content {
    width: 100%;
    text-align: left;
  }

  .section__heading {
    font-size: 2.8rem;
    padding: 8rem 0 3rem 0;
    color: rgba(230, 230, 230, 0.664);
  }

  .section__content p {
    padding-top: 2rem;
    max-width: 100%;
  }

  .project-item {
    min-height: 680px;
    width: 90vw;
    flex-direction: column-reverse;
    margin-bottom: 3rem;
    background-color: var(--card-color);
    padding: 0 0.5rem;
  }

  .project-item:nth-child(even) {
    flex-direction: column-reverse;
    margin-bottom: 3rem;
  }

  .project-item h3 {
    text-align: center;
    font-size: 2rem !important;
    margin-top: -1rem;
    font-weight: 700;
  }

  .project-item img {
    object-fit: cover;
    width: 85vw;
    height: 350px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }

  .project-item .explanation-container {
    width: 100%;
    min-height: 250px;
    align-items: center;
  }

  .technologies-used {
    margin: 0 auto;
    justify-content: space-around;
  }
  .btn-container {
    margin: 1rem;
    flex-direction: column;
  }
  .project-item .explanation-container .btn_ {
    height: 2.7rem;
    width: 95%;
    font-size: 1rem;
    margin: 0.5rem auto;
  }

  .hero-content h1 {
    width: 100%;
  }
  .btn {
    width: 100%;
    border-radius: 60px;
  }
  .project-item .btn_ {
    padding: 1rem;
  }

  .recommendation_container {
    width: 90vw;
  }

  .technologies_container {
    width: 90vw;
  }

  .technologies_container img {
    width: 100px !important;
    height: 100px !important;
    margin: none !important;
  }
}
